<div>

<h1>Calculadora</h1>

<div>
  <label for="numeroUm">Informe o primeiro número </label>
  <input id="numberUm" type="number" [(ngModel)]="numeroUm">
</div>

<div>
    <label for="numeroDois">Informe o segundo número </label>
    <input id="numberDois" type="number" [(ngModel)]="numeroDois">
</div>

<div>
    <label for="operacao">Informe a operaçao  </label>
    <select id="operacao" [(ngModel)]="operacao">
      <option value="SOMA"> Somar </option>
      <option value="SUBTRACAO"> Subtrair </option>
      <option value="MULTIPLICACAO"> Multiplicar </option>
      <option value="DIVISAO"> Dividir </option>
</select>
</div>

<div>
  <button style="background: brown" (click)="onClickExecutarOperacao()">Executar operação</button>

</div>


<div>
  <h2 style="background: coral"> Resultado:{{ response.resultado}}</h2>
</div>

</div>
